html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.movie-search label {
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7em;
    margin-left: 20px;

}

.search-button {
    margin-left: 60px;
    margin-top: 5px;
}
