html {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-search {
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75em;

}

.search-button {
    margin-left: 50px;
    margin-top: 5px;
}
